.Footer {
    text-align: center;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    margin-top: 20%
}

.Footer p {
    font-size:0.8rem;
    color: #a2abb2;
    margin: 10px 50px;
}

.Footer p a {
    color:#8b9399;
}

.Footer p a:visited {
    color: #8b9399;
}

@media (max-width: 768px) {
    .Footer p {
        font-size: 0.6rem;
        margin: 10px 10px;
    }
}