.Dropdown {
    font-family:inherit;
    width: 150px;
    background-color: #272635;
    height:40px;
    font-size: 1.1em;
    color: #F8F8F8;
    border: none;
    text-align: center;
    padding: 8px;
}

.Dropdown:hover {
    cursor: pointer;
}

@media (max-width: 380px) {
    .Dropdown{
        width: 75%;
        min-width: 150px;
    }
}