
.Banner {
    /* background: #272635; */
    /* height: 20%; */
    /* color:#F8F8F8; */
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Banner img {
    width: 400px;
    padding: 20px;
}

.Banner h1 {
    margin:0px;
    text-align: center;
    padding: 30px;
}

@media (min-width: 768px) {
    .Banner h1 {
        padding: 20px;
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    .Banner h1 {
        padding: 15px;
        font-size: 2rem;
    }

    .Banner img {
        width: 300px;
    }
}

@media (max-width: 400px) {

    .Banner img {
        width: 200px;
    }
}


