.Button {
    border: none;
    border-radius: 6px;
    background-color: #BC2C1A;
    color: #F8F8F8;
    padding: 4px;
    transition-duration: 0.5s;
    width: 120px;
    height: 45px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}

.Button div {
    margin: 1px 0px;
}

.Button div:first-of-type {
    font-size: 1.2rem;
}

.Button div:nth-of-type(2) {
    font-size: 0.7rem;
    padding-right: 2%;
}

.Button:hover {
    background-color: #781D11;
    cursor: pointer;
    transition-duration: 0.5s;
}

.Button:disabled {
    cursor: not-allowed;
    background-color: lightgrey;
    color: black;
}

@media (max-width: 400px) {
    .Button {
        margin: 5px;
    }
}